name: Update GitHub Profile

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  schedule:
    # Runs every 2 hours
    - cron: "0 */2 * * *"
    
jobs:

  Profile-GitHub-Metrics:
    name: Create GitHub Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          user: jimbrig
          template: classic
          base: header, activity, community, repositories, metadata
          config_animations: yes
          config_timezone: America/New_York
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_ignored: html, css, tex, less, lex
          plugin_languages_threshold: 0%
          plugin_habits: yes
          plugin_habits_from: 250
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_achievements: yes
          plugin_achievements_limit: 10
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: B
          plugin_activity: yes
          plugin_activity_days: 365
          plugin_activity_filter: all
          plugin_activity_limit: 10
          plugin_activity_visibility: all
          plugin_followup: yes
          plugin_gists: yes
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year          
          plugin_lines: yes
          plugin_projects: yes
          plugin_projects_descriptions: yes
          plugin_projects_limit: 10
          plugin_stars: yes
          plugin_stars_limit: 20
          repositories_forks: yes

          
  Profile-Stack:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: Matt-Gleich/profile_stack@master
          with:
            path: ./config/stack.yml
            
  Profile-README:
    name: Update README
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Create README.md
        uses: actions-js/profile-readme@master
        with:
          username: jimbrig
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull
        run: |
          git config --global user.name 'jimbrig'
          git config --global user.email 'jimmy.briggs@jimbrig.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git checkout "${GITHUB_REF:11}"
          git stash
          git pull
          git stash pop          
      - name: Commit
        run: |
          git config --global user.name 'jimbrig'
          git config --global user.email 'jimmy.briggs@jimbrig.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git checkout "${GITHUB_REF:11}"
          git commit -am "Automated report"
          git push
      # - name: Commit & Push changes
      #   uses: actions-js/push@master
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
          
  Profile-Todoist:
    needs:
      - Profile-GitHub-Metrics
      - Profile-Stack
      - Profile-README
    name: Update Todoist Stats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: abhisheknaiidu/todoist-readme@master
        with:
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
          PREMIUM: true
