name: GitHub Profile Views Counter CI
on:
  workflow_run:
    workflows: [Update GitHub Profile]
    types:
      - completed
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
jobs:
  release:
    name: GitHub Profile Views Counter Action
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.INSIGHTS_TOKEN }}
      - uses: actions/setup-node@v3
        with:
          node-version: 14.17.0
      - uses: gayanvoice/github-profile-views-counter-action@3.0.0
        env:
          INSIGHTS_TOKEN: ${{ secrets.INSIGHTS_TOKEN }}
